<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1><%= htmlWebpackPlugin.options.title %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis amet
      quam omnis reprehenderit aliquam animi expedita consequuntur quo ducimus
      officia, ex delectus sequi mollitia quisquam totam necessitatibus ipsa nam
      debitis.
    </p>
    <p>sifen</p>
  </body>
</html>
